body{
    background-color: #ffffff;
    margin: 0px;
    padding:0px;
}

.nav-bar-list-item-button{
    height: 40px;
    width: 200px;
    background-color: #3282b8;
    border-radius: 10px ;
    padding: 5px;
    font-size: 20px;
    color: white;
}

.nav-bar-list-item-button:hover{
    background: #0f4c75;
}
.nav-bar-list-item{
    list-style: none;
    display: inline-flex;
    margin-right: 40px;
    margin-left: 40px;
    color:white; 
    text-align: center;
}

#my-canvas{
    padding: 0px;
    border-style: solid;
    border-color: #1b262c;
}

.textbox{
    margin: 10px;
    height: 60px;
    width: 95%;
    font-size: 20px;
    border-radius: 30px 30px 30px 30px;
}

.menu-bar-div{
    margin-left: 12.5%;
}

.input{
    margin-left: 6.25%;
}